# env example

# project name
PROJECT_NAME=miproyecto

# docker network name
DOCKER_NETWORK=miproyecto-network

# registry images
REGISTRY=registry.franciscomeglia.com/desarrollo

# app versions
API_VERSION=
FRONTEND_VERSION=

# infrastructure versions
NGINX_VERSION=1.28.2-alpine
POSTGRES_VERSION=14.19-alpine3.21
REDIS_VERSION=7-alpine

# port (docker network)
PORT_API=8000
PORT_FRONTEND=80

# nginx template
#   nginx.conf.template        -> subdomain + HTTPS
#   nginx.conf.template.local  -> IP local + HTTP
NGINX_TEMPLATE=nginx.conf.template.local

# subdomain nginx
# local mode = NGINX_DOMAIN_FRONTEND = IP VM
NGINX_DOMAIN_FRONTEND=
NGINX_DOMAIN_API=

# certs 443 HTTPS
NGINX_CERT_PATH=./certs
NGINX_CERT_FILE=fullchain.pem
NGINX_CERT_KEY=privkey.pem
